
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
}

section p {
    color: #666;
}


#receta1 {
    background-image: url('https://via.placeholder.com/1200x600');
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: center;
    padding: 100px 0;
}

#receta2 {
    background-image: url('https://via.placeholder.com/1200x600');
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: center;
    padding: 100px 0;
}

#receta3 {
    background-image: url('https://via.placeholder.com/1200x600');
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: center;
    padding: 100px 0;
}

#receta4 {
    background-image: url('https://via.placeholder.com/1200x600');
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: center;
    padding: 100px 0;
}

#receta5 {
    background-image: url('');
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: center;
    padding: 100px 0;
}
img {
    display: block;
    margin: auto;
    width: 500px;
    height: 350px;
}
ul li{
    text-align: start;
}
